<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Properties.Settings>
            <setting name="BsjServer" serializeAs="String">
                <value />
            </setting>
            <setting name="BsjPort" serializeAs="String">
                <value />
            </setting>
            <setting name="BsjUser" serializeAs="String">
                <value />
            </setting>
            <setting name="BsjPass" serializeAs="String">
                <value />
            </setting>
            <setting name="FTServer" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPort" serializeAs="String">
                <value />
            </setting>
            <setting name="FTUser" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPass" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLPOrt" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLDBName" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLUser" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLPass" serializeAs="String">
                <value />
            </setting>
            <setting name="Company" serializeAs="String">
                <value />
            </setting>
            <setting name="DB44Code" serializeAs="String">
                <value />
            </setting>
        </Properties.Settings>
    </userSettings>
</configuration>