<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    </configSections>
    <securityCryptographyConfiguration>
        <symmetricCryptoProviders>
          <add M1="4210752250" IA1="4160223223" IC1="4126537205" Key="9012" type="Db44.Security.Cryptography.Db44SymmetricCryptoProvider, Db44.Security.Cryptography, Version=1.0.0.22523, Culture=neutral, PublicKeyToken=null" name="Terminal251"/>
        </symmetricCryptoProviders>
    </securityCryptographyConfiguration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
